unity3d/Library
unity3d/Temp
unity3d/ProjectSettings
unity3d/*.apk
unity3d/*.csproj
unity3d/*.pidb
unity3d/*.sln
unity3d/*.userprefs
android-exampleapp/libs/classes.jar
android-exampleapp/libs/android.jar
unity3d/ios-exampleapp/Classes/iPhone_Common.h
unity3d/ios-exampleapp/Classes/iPhone_GlesSupport.cpp
unity3d/ios-exampleapp/Classes/iPhone_GlesSupport.h
unity3d/ios-exampleapp/Classes/iPhone_Profiler.cpp
unity3d/ios-exampleapp/Classes/iPhone_Profiler.h
unity3d/ios-exampleapp/Classes/iPhone_target2AppDelegate.h
unity3d/ios-exampleapp/Classes/iPhone_target2AppDelegate.m
unity3d/ios-exampleapp/Classes/iPhone_target_Prefix.pch
unity3d/ios-exampleapp/Classes/main.mm
unity3d/ios-exampleapp/Classes/MainWindow.xib
unity3d/ios-exampleapp/Classes/RegisterClasses.cpp
unity3d/ios-exampleapp/Classes/RegisterClasses.h
unity3d/ios-exampleapp/Default-568h@2x.png
unity3d/ios-exampleapp/Default-Landscape.png
unity3d/ios-exampleapp/Default-Landscape@2x.png
unity3d/ios-exampleapp/Default-Portrait.png
unity3d/ios-exampleapp/Default-Portrait@2x.png
unity3d/ios-exampleapp/Default.png
unity3d/ios-exampleapp/Default@2x.png
unity3d/ios-exampleapp/Icon-144.png
unity3d/ios-exampleapp/Icon-72.png
unity3d/ios-exampleapp/Icon.png
unity3d/ios-exampleapp/Icon@2x.png
unity3d/ios-exampleapp/Info.plist
android-exampleapp/.settings
android-libpd/.settings
*.class
unity3d/ios-exampleapp
android-exampleapp/customActivity.jar